Body{
    margin: 0px;
    padding: 0px;
    background-color: #F2F4F7;
}
.nav-logo{
    width: 150px;
    height: auto;
}
.nav-logo1{
    width: 60px;
    height: auto;
}
.nav-links{
    display: flex;
    /* horizontal to vertical */
justify-content: space-between;
/* barabar space dinxa hamro nav ko component ma */
list-style: none;
/* style type none garda bullet point janxa */
width: 50%;
}
nav{
    display: flex;
    background-color: rgb(176, 171, 165);
    align-items: center;
    justify-content: space-around;
    margin: 0px;
}
header{
    position: fixed;
    width: 100vw;
    top: 0px;
}
.main-logo{
    height: 10rem;
    width: 20rem;
   margin-top: 10rem;
   margin-left: 19rem;
}
.motto{
    width: 20rem;
   margin-top: -3%;
   margin-left: 20rem;
}
form{
    display: flex;
    flex-direction: column
    ;
    width: 10rem;
    margin-left: 72rem;
    align-items: center;
}
   .right-side {
height: 15rem;
width: 20rem;
background-color: rgb(255, 255, 255);
margin-left: 67rem;
/* margin-bottom: 25rem; */
margin-top: -8rem;

display: flex;
justify-content: center;
align-items: center;
border: 2px solid black;
}

